*.jl.cov
*.jl.*.cov
*.jl.mem

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.toc
*.sqlite-journal

docs/build/
docs/site/
/process-palette.json
test/Manifest.toml
Manifest.toml
test/test_out.sqlite
examples/tutorial_spine_database/quick_start.sqlite
examples/tutorial_spineopt_database/example_spineopt_database.sqlite
.vscode/settings.json
